<mat-toolbar>
  <mat-toolbar-row>
    <span>{{valueName}}</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <mat-table #matTable [dataSource]="dataSourceInput">
    <!-- Marker Column -->
    <ng-container matColumnDef="marker">
      <mat-header-cell *matHeaderCellDef> DataSet-Marker </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.marker}} </mat-cell>
    </ng-container>

    <!-- Impedance Column -->
    <ng-container matColumnDef="impedance">
      <mat-header-cell *matHeaderCellDef> Impedance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.impedance}} </mat-cell>
    </ng-container>

    <!-- Frequency Column -->
    <ng-container matColumnDef="frequency">
      <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.frequency}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;" class="row" matTooltip="Details" (click)="markerDetails(row)"></mat-row>
  </mat-table>
</div>